extends ../layout/index
block contenido
 section.sobremi.d-flex.justify-content-center.align-items-center.container-fluid.row.p-5  
        .col-12.col-md-6.d-flex.justify-content-center.align-items-center.justify-content-lg-end.color 
            img.imgperfil(src="/img/sobremi/perfilfacebook.webp", alt="perfil Josue Vigil Facebook")
        .col-12.col-md-6.mt-5.mt-lg-1
            h2.text-center.text-md-start Sobre M&iacute 
            p.text-center.text-md-start Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum consequuntur culpa tempore eveniet voluptatibus mollitia deleniti ex. Tenetur eveniet, soluta ipsa nulla illum neque officiis totam nobis aspernatur, temporibus necessitatibus?
 include ../layout/includes/redes.pug