section.ca
 .titulo
  h2 Trabajos de Bodas 
  p "Retratos del Amor: Fotografías de Bodas que Capturan la Esencia del Compromiso"
 #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel').carousel
   .carousel-inner
     .carousel-item.active
        img.d-block.w-100(src='../img/carousel/Trabajos de Bodas Josue Vigil.jpg' alt='Trabajos de Bodas Josue Vigil')
     .carousel-item
         img.d-block.w-100(src='../img/carousel/Baile de Boda.webp' alt='Tabajos de Bodas Josue Vigil')
     .carousel-item
       img.d-block.w-100(src='../img/carousel/Boda Escaleras.webp' alt='Fotografias de Boda')
     .carousel-item
       img.d-block.w-100(src='../img/carousel/Baile de Boda.webp' alt='Fotografias de Boda')
   button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
         span.carousel-control-prev-icon(aria-hidden='true')
         span.visually-hidden Previous
   button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next