section.redes.container-fluid 
 .carta
   .encabezado
     .imagene
         img.imgredes(src="/img/sobremi/perfilfacebook.webp", alt="perfil de Facebook Josue vigil")
     .texto
        h5.text-center Josue Vigil - Fotografo
        p.text-center 8,5 mil Me gusta / 8,5 mil seguidores
        p C&aacutemara/fotograf&iacutea 
        p Cucuyagua, Honduras
        a(href="https://www.facebook.com/JosueVigilFotografo" target='_blank') 
            span.fa-brands.fa-facebook 
            |   Seguir 
 .carta
   .encabezado
     .imagene
         img.imgredes(src="/img/sobremi/instagram.jpg", alt="perfil de Facebook Josue vigil")
     .texto
        h5.text-center josuevigilstudio
        p.text-center 4,1445  follower / 1581 following 
        p.info Photographer
        p.info Salvadoreño sv
        p.text-center.info Fot&oacutegrafo de bodas, Santa Rosa de Cop&aacuten
        .linea1
        a(href="https://www.instagram.com/josuevigilstudio/" target='_blank') 
            span.fa-brands.fa-instagram 
            |   Seguir

 .carta
   .encabezado
     .imagene
         img.imgredes(src="/img/sobremi/perfilfacebook.webp", alt="perfil de Facebook Josue vigil")
     .texto
        h5.text-center Josue Vigil - Fotografo
        p.text-center 8,5 mil Me gusta / 8,5 mil seguidores 
        .linea1
        a(href="https://wa.me/ 97308128" target='_blank') 
            span.fa-brands.fa-facebook 
            |   Sigueme        