extends ../layout/index.pug
block contenido
    include ../layout/includes/contactanos.pug
    .frase.mt-2 
        h3 "La fotografía es el único lenguaje que puede ser entendido en cualquier parte del mundo."
        footer.blockquote-footer.mt-1.p
         small.text-muted
             | Bruno Barbey .
             cite(title='Source Title') Fotografo Profecional