extends ../layout/index.pug
block contenido
 main.portafolio
        a(href="/portafolio/bodas").carta
            .imagencont 
                img(src="/img/portafolio/index/Bodas Portafolio500.webp", alt="Portafolio de Bodas Josue Vigil" loading="lazy")
            .pie 
                h2 Bodas 
                p Fotografía de Bodas.
        a(href="/quinces").carta
            .imagencont
                img(src="/img/portafolio/index/quinceyear.webp", alt="Quinces Portafolio Josue Vigil" loading="lazy") 
            .pie
              h2 Quince Años 
              p Eventos de Quince Años.
        a(href="/retratos").carta 
            .imagencont
                img(src="/img/portafolio/index/Retratos 500.webp", alt="Retratos Portafolio Josue Vigil" loading="lazy")  
            .pie
                h2 Retratos 
                p Fotografía de retratos / Sesiones personales.  
        a(href="/prebodas").carta 
            .imagencont 
                img(src="/img/portafolio/index/Pre Boda 500.webp", alt="Pre Bodas Portafolio Josue Vigil" loading="lazy") 
            .pie 
                h2 Pre-Bodas 
                p Fotografía de Pre-Bodas.

        a(href="/ninos").carta 
            .imagencont
                img(src="/img/portafolio/index/Infantiles.webp", alt="Infantiles Portafolio Josue Vigil" loading="lazy")  
            .pie 
                h2 Niños 
                p Fotografía de Infantiles.
        a(href="/babyshower").carta 
            .imagencont
                img(src="/img/portafolio/index/BabyShower500.webp", alt="Infantiles Portafolio Josue Vigil" loading="lazy")  
            .pie 
                h2 Baby Shower 
                p Eventos de Baby Shower / Revelación de Genero.