extends ../layout/index.pug
block contenido
    main.galeria 
        .item
            img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")
        .item
            img(src="/img/index/BodasJosueVigil767.jpg", alt="" loading="lazy")
        .item
            img(src="/img/carousel/Boda Escaleras.webp", alt="" loading="lazy") 
        .item
            img(src="/img/carousel/Baile de Boda.webp", alt="" loading="lazy")
        .item
             img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")
        .item
            img(src="/img/portafolio/index/BabyShower500.webp", alt="" loading="lazy")
        .item
            img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")  
        .item
             img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")    
        .item
             img(src="/img/carousel/Baile de Boda.webp", alt="" loading="lazy")
        .item 
            img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")
        .item
            img(src="/img/index/BodasJosueVigil767.jpg", alt="" loading="lazy")
        .item
            img(src="/img/carousel/Boda Escaleras.webp", alt="" loading="lazy")
        .item
            img(src="/img/carousel/Baile de Boda.webp", alt="" loading="lazy")
        .item
             img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")
        .item
            img(src="/img/portafolio/index/BabyShower500.webp", alt="" loading="lazy")
        .item
            img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")  
        .item
             img(src="/img/index/BodasJosueVigil535.jpg", alt="" loading="lazy")    
        .item
             img(src="/img/carousel/Baile de Boda.webp", alt="" loading="lazy")


    
