*{
   margin: 0;
   padding: 0;
}

header .principal{
  width: 100%;
  z-index: 2;
}

header{
  margin-bottom: 10em;
  transition: opacity 0.5s;
}

header .principal .logotipo{
   font-size: 40px;
   margin-bottom: -15px;
}
.menu{
  margin-top: -1.2em;
}
.menu ul{
  display: flex;
  flex-direction: row;
  gap: 3em;
}
header .principal a{
  font-size: 40px;
}
header .principal li{
  list-style: none;
}

.active{
  transform: scale(1.1);
}
header .menu a, .offcanvas-body a {
  font-size: 1.1em;
  transition: transform 1s;
}

header .menu a,.offcanvas-body a:hover{
  transform: scale(1.1);
}

header .botonmenu{
  width: 2em;
  height: 2em;
  border-radius:0px;
  padding: 0px;
} 

header .botonmenu span{
  font-size: 0.8em;
}
header .botonmenu:hover{
  border: solid 1px;
}

header .botonmenu:focus{
  border: solid 1px;
}
.linea{
  background-color: #494e4c1c;
  height: 1px;
  width: 100%;
}
.imagen{
  height: 511px;
  background-image: url('../img/index/BodaJosueVigil1.jpg');
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 4em;
  
}
/*formulario contactanos*/
.botonenviar input{
  text-decoration: none;
  color: #494e4c;
  margin-top: 2em;
  border: solid 1px #494e4c;
  text-align: center;
  transition: background-color 0.5s;
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 25px;
  border-radius: 0px;
  
}

.botonenviar input:hover{
  background-color:#494e4c;
  color: white;
}

.infocontacto{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(#181818d7,#18181881), url(../img/index/bodasjosuevigil.jpg);
  background-attachment: fixed;
  background-position-x:-500px ;
  background-position-y:40px ;
}


.formularioContacto{
  margin: 0;
  display: flex;
  
}

.contactanos{
  overflow: hidden;
}

.formularioContacto h2{
  color: black;
}

form{
  padding: 1em;
}
.infocontacto h3{
  color: white;
  font-size: 18px;
  text-align: center;

}

.infocontacto p{
  color: white;
  text-align: right;
  font-size: 16px;

}

.infocontacto p span,p a span {
  color: #00AD5F;
  font-size: 22px;
  margin-right: 5px;

 
}

.infocontacto p a{
  text-decoration: none;
  color: white;
}

.infocontacto .redes {
  display: flex;
  flex-direction: row;
  gap: 2.6em;
}

.infocontacto .redes a:hover{
  transform: scale(1.2);
  color:#00AD5F;
}

.formularioContacto .bigicon{
  color: #494e4c;
  font-size: 22px;
}

.frase{
   height: 300px;
   text-align: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 2em;
}

.frase h3{
  width: 70%;
}
.frase footer{
  padding-left: 2em;
  padding-right: 2em;
}

.frase footer small{
  font-size: 16px;
}

/* Carousel*/
.titulo p{
  margin-top: -8px;
}

.carousel button{
  margin-top: 30%;
}

.carousel button span .carousel-control-prev-icon{
  width: 70px;
}
/*servicios*/
.valores{
  background-color: rgba(49, 49, 49, 0.082);
  padding: 3em;
  padding-top: 5em;
 padding-bottom: 5em;

}
.valores h2{
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.valores .linea1{
  background-color: rgba(36, 35, 35, 0.452);
  height: 1px;
  width: 50%;
}
.valores .car{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.valores a{
  text-decoration: none;
  color: black;
  margin-top: 2em;
  width: 50%;
  padding: 0.5em;
  border: solid 1px #494e4c;
  text-align: center;
  transition: background-color 0.5s;
}

.valores a:hover{
  color: white;
  background-color: #494e4c
}
/*Footer*/
footer{
  background-color: rgba(49, 49, 49, 0.082);
  font-size: 18px;

}

footer p{
  padding: 10px;
}

footer p span{
  font-weight: bold;
  margin-left: 5px;
}

@media screen and (max-width:995px){
  .valores a{
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
  
}

@media screen and (min-width:977px){
  header{
    margin-bottom: 14em;
  }
  .botonmenu{
      display:none;
  }
  
  .principal{
    display: flex;
    flex-direction: column;
  }
 
  .imagen{
    background-position-y:0px;
  }
}

@media screen and (max-width:976px){
  .menu{
      display: none;
  }

  .imagen{
    background:url('../img/index/BodasJosueVigil767.jpg');
    height: 511px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width:767px){
  .uno{
    order:2;
    padding: 2em;
  }
  .dos{
    order:1;
  }
 
  .imagen{
    background:url('../img/index/BodasJosueVigil535.jpg');
    height: 350px;
  }

  .valores .row {
    display:flex ;
  }

  .one{
    order: 1;
    
  }

  .three{
    order:2;
    
  }

  .two{
    order:3;
    margin-top: 2em;
    justify-content: center;
  }
  
  .car{
    margin-top: 2em;
  }
  .ca h2{
    font-size: 23px;
  }

  .ca p{
    font-size: 14px;
  }
}

@media screen and (max-width:576px){
  .three{
    margin-top: 2em;
  }
}

@media screen and (max-width:550px){

  .imagen{
    background:url('../img/index/BodaJosueVigil366.jpg');
    height: 300px;
    
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: #494e4c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.whatsapp-button:hover{
  opacity: 0.9;
}
.whatsapp-button .bi {
    color: #ffffff;
}